body{
  min-height: 100vh;
  background: white;
  margin: 0;
  padding: 0;
}
.mic{
    background:#717171;
    margin-left:20px ;
    height:38px;
    width:38px;
    border:1px solid grey;
    border-radius:50%;
    transition: 0.5s;
    cursor: pointer;
}

@media  (max-width:1000px) {
  .banner{
    max-height: 250px;

  }
  .search-input{
    display: none;
  }
  .mic{
    margin-left: auto;
  }
}
@media  (max-width:760px){
  .card{
    margin-bottom: 20px;
  }
}
.for-scroll::-webkit-scrollbar{
  width: 2px;
  background-color: grey;
}
.list:hover{
  background-color: grey;
  cursor: pointer;
}
.mic:hover{
  background-color: black;
}